body{
    font-family: 'Courier New', Courier, monospace;
}
.bighead {
     color:black;
     font-size: 40px;
     font-weight: 900;
     font-family:'Courier New', Courier, monospace;
}
.picture {
    width: 600px;
    height: auto;
    border-radius: 25px;
}
.desc {
    background-color:rgb(252, 252, 127);
    color:black;
    font-weight: 600;
    
}
.smallhead{
    text-decoration: underline;

}
.unordered{
    color: white;
    background-color: rgb(122, 221, 122);
    font-weight: 600;
}
.ordered{
    color: white;
    background-color: rgb(241, 165, 178);
    font-weight: 600;
}